.bg-primary{
    background: var(--color-primary);
}

.bg-dark{
    background: #27282f;
}

.line{
    background-color: rgba(0, 0, 0, .1);
    height: .1rem;

}

.screen{
    background-color: var(--color-white);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);

}

/* ESTO HAY QUE QUITARLO DE AQUI */
.alert-error{
    text-align: center;
    background-color: var(--color-error);
    border-radius: .5rem;
    color: var(--color-white);
    font-weight: 600;
    padding: .5rem;
}