nav{
    width: 100%;
    background: var(--color-white);
    padding: .2rem 0;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin:  0 auto;
}

.profile__area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.theme__btn{
    display: flex;
    background-color: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    overflow: hidden;
}

.theme__btn span{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme__btn .active{
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 5rem;
}

nav .profile__area .profile{
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .profile__area .profile .profile__photo{
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    overflow: hidden;
}

.profile h3{
    font-size: 1.4rem;
    font-weight: 600;
}

.header__main{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.header__main button{
    background: transparent;
    border: none;
    font-size: 2.5rem;
}